# Session 1 & 2

In [1]:
# Simple funtion with python
def become_user():
    print("hello essca")

In [2]:
become_user()

hello essca

In [ ]:
# ex1: create a new function called “greeting”, which allows you to display the following message: 
#      display the following message "Happy New year"

In [5]:
# creating the funtion
def greeting():
    print("Happy New Year")

In [6]:
# calling the funtion
greeting()

Happy New Year

In [12]:
# ex2: funtion with fstring message
def greet_user(name):
    print(f"Bonjour, {name} ! Bienvenue à l'ESSCA.")

In [ ]:
greet_user("Bob")

In [ ]:
# Test your function with different names, such as "Alice", "Bob", or your own name.

In [3]:
# example of funtion with two inputs 
# it calculates the difference between the two inputs
def gap(a,b):
    c = a-b
    return c

In [7]:
gap(4,2)

2

In [13]:
# another example: 
def add_numbers(a, b):
    print(f"La somme de {a} et {b} est {a + b}.")

In [14]:
add_numbers(123, 675)

La somme de 123 et 675 est 798.

In [11]:
# Funtion to check the age

In [15]:
def check_age(age):
    if age >= 18:
        print(f"Vous avez {age} ans, vous êtes majeur.")
    else:
        print(f"Vous avez {age} ans, vous êtes mineur.")

In [16]:
check_age(23)

Vous avez 23 ans, vous êtes majeur.

In [17]:
# import the package numpy
import numpy as np

In [18]:
np.log(2)

0.6931471805599453

In [2]:
# types : int / str / float / bool (binaire) 
a = 4
print(a)
type(a)

4

int

In [13]:
b = "hello"
print(type(b))

<class 'str'>

In [14]:
c = 2.01
print(type(c))

<class 'float'>

In [21]:
d = True 
type(d)

bool

In [22]:
variable1 = 42
variable2 = "Bonjour"
variable3 = [1, 2, 3]

In [23]:
print(type(variable1),type(variable2),type(variable3))

<class 'int'> <class 'str'> <class 'list'>

In [27]:
# other types
variable4 = True
variable5 = [1,2,3] # list
variable6 = (1,2,3) # tuple
variable7 = {1:"az", 2:"da"} # dictionary

In [28]:
print(type(variable4),type(variable5),type(variable6),type(variable7) )

<class 'bool'> <class 'list'> <class 'tuple'> <class 'dict'>

In [30]:
# difference between tuple and list
#Lists: Mutable. Lists can be modified after their creation (addition, deletion, modification of elements).
#Tuple: Immutable. Once created, a tuple cannot be modified.
#
# add 4 at the end of the list 'variable5'
variable5.append(4)
print(variable5)

[1, 2, 3, 4]

In [31]:
# replace 1 by 99 in list 'variable5'
variable5[0]=99
print(variable5)

[99, 2, 3, 4]

## practical with "fstring" format

In [1]:
# list 
nn = [1, 23, "Alice", 89.01, "bob"]
r = "salut "
# print: salut bob
r + nn[4]

'salut bob'

In [2]:
#print: salut  Alice !
print(f"{r} {nn[2]} !")

salut  Alice !

In [ ]:
# display the following message :
# Bonjour Alice et Bob !!! 
# fstring format
print(f"Bonjour {nn[2]} et {nn[4]}")

In [3]:
mm = ["Argentina", "France", "Germany"] 
rr = [2022, 2018, 2014] 
# Exercise 7 
# Argentina won the world cup in 2022 and France won it in 2018
# using the lists mm and rr

In [4]:
print(f"{mm[0]} won the world cup in {rr[0]} and {mm[1]} won it in {rr[1]}")

Argentina won the world cup in 2022 and France won it in 2018

In [ ]:
# practical with lists and list positions

In [6]:
ll = [mm[0] , mm[2]]
print(ll)

['Argentina', 'Germany']

In [7]:
kk = mm *2
print(kk)

['Argentina', 'France', 'Germany', 'Argentina', 'France', 'Germany']

In [ ]:
b = len(kk)
print(kk[:3])

In [9]:
# print from kk only the two first variables and the two last variables 
print(kk[:2]+kk[4:])

['Argentina', 'France', 'France', 'Germany']

In [10]:
# if I don't know the size of the list and I want to display the 3 last variables 
print(kk[len(kk)-3:len(kk)])

['Argentina', 'France', 'Germany']

In [11]:
jj = [1,22,55,77,"Alice", 88, 23.23, "Bob", "Tom", 88, 33, 1,2,3,6,5,4,7,8,9]

In [12]:
# display "Bob", "Tom" 
print(jj[7:9])

['Bob', 'Tom']

# On boarding 2

In [33]:
s= 'Audit'
print(s)

Audit

In [36]:
print(s[0])
print(s[1])

A
u

In [40]:
# display letters according to positions
print(s[0:])
print(s[1:])
print(s[:3])
print(s[:])
print(s[2:6])

Audit
udit
Aud
Audit
dit

In [42]:
s1 = "Make an "
print(s1 + s)

Make an Audit

In [44]:
# or 
s2 = s1 + s
print(s2)

Make an Audit

# Session 3

In [45]:
# list "tp"
tp = ("apple", "a", 100, 20.78)

In [46]:
print(tp[0:2]+tp[3:])

('apple', 'a', 20.78)

In [13]:
# list 
nn = [1, 23, "Alice", 89.01, "bob"]

In [15]:
# replace "Alice" by "Marie" (for comments)
nn[2] = "Marie"
print(nn)

[1, 23, 'Marie', 89.01, 'bob']

In [16]:
# display the type of  89.01
type(nn[3])

float

In [17]:
# display the following message:
# the type of 89.01 in position 3 is float (using fstring)
nn.index("bob")

4

In [18]:
print(f"the type of {nn[3]} in position {nn.index(89.01)} is {type(nn[3])}")

the type of 89.01 in position 3 is <class 'float'>

In [19]:
# list 
s = "Bonjour"
es = "Essca"
nn = [1, 23, "Alice", 89.01, "Bob", 22]
# from list nn, display 
# Bonjour Alice et Bob ! 
# Alice studies at Essca and she is 23 years old
# Bob studies at Essca and  he is 22 years old

In [22]:
print(f"{s} {nn[2]} et {nn[4]} ! ")
print(f"{nn[2]} studies at {es} and she is {nn[1]} years old")
print(f"{nn[4]} studies at {es} and she is {nn[5]} years old")

Bonjour Alice et Bob !
Alice studies at Essca and she is 23 years old
Bob studies at Essca and she is 22 years old

In [24]:
# create function "add_numbers" with two inputs that gives you the following message :
# it prints : the sum of a ans b is c 
# use fstring

In [26]:
def add_numbers(a,b):
    c = a + b 
    print(f"the sum of {a} and {b} is {c}")

In [27]:
add_numbers(25,33)

the sum of 25 and 33 is 58

In [30]:
## case of function inside another function
###------------- function 1:
# function helps you to calculate a sum of inputs 
# this function gives you a value that I could use in a second function
def sumnumbers(a,b):
    c = add_numbers(a,b)
    return c

In [31]:
sumnumbers(1,5)

The sum of 1 and 5 is 6

##  condition: 
### if / elif / else

In [32]:
# creat a function to check the age 
def check_age(z):
    if z >= 18:
        print("you are a major")
    elif z <18:
        print("you are a teenager")

In [33]:
check_age(17)

you are a teenager

In [ ]:
# do the same with the following message:
# you are '!!' years old, so you are a "!!!" (use fstring format)

In [34]:
# creat a function to check the age 
def check_age2(z):
    if z >= 18:
        print(f"you are {z} years old, so you are a major ")
    elif z <18:
        print(f"you are {z} years old, so you are a teenager ")

In [35]:
check_age2(30)

you are 30 years old, so you are a major

In [36]:
# IMC function
def calcul_IMC(a,b):
    c = a / b **2
    if c < 25:
        dd = "Normal"
    elif c>=25 and c<=29.9:
        dd = "overweight"
    elif c>=30 and c<=34.9: 
        dd = "moderate obesity"
    elif c>=35 and c<=39.9: 
        dd = "severe obesity"
    else:
        dd = "massive obesity"
    return dd

In [37]:
calcul_IMC(85,1.80)

'overweight'

# Loop "for"

In [ ]:
## practice with Loop "for"

In [47]:
#exple 1: Loop 
nombres = [1,2,3,4,5]
for i in nombres:
    print(i)

1
2
3
4
5

In [48]:
#exple 2
nombres = [1,2,3,4,5]
for i in nombres:
    print(f"Le nombre actuel est : {i}")

Le nombre actuel est : 1
Le nombre actuel est : 2
Le nombre actuel est : 3
Le nombre actuel est : 4
Le nombre actuel est : 5

In [49]:
#exple 3
for i in range(1,6):
    print(i)

1
2
3
4
5

In [50]:
#exple 4
for i in range(1,6,2):
    print(i)

1
3
5

In [52]:
# another list
company = ["AAA", "AB", "ESG:55", "Credit Score: BB", "Solvency Score: AA"]

In [53]:
for rating in company[1:3]:
    print(rating)

AB
ESG:55

In [57]:
for i in [0,5]:
    print(i)
# it's the same if I write as follows: 
#ss = [0,5]
#for i in ss:
#    print(i)

0
5
0
5

In [58]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [56]:
for i in range(5):
    print(i)

0
1
2
3
4

In [23]:
company = ["AAA", "AB", "ESG:55", "Credit Score: BB", "Solvency Score: AA"]
len(company)

5

In [24]:
# Loop with fstring
for i in range(len(company)):
    print(f"Le rating {i} est de {company[i]}")

Le rating 0 est de AAA
Le rating 1 est de AB
Le rating 2 est de ESG:55
Le rating 3 est de Credit Score: BB
Le rating 4 est de Solvency Score: AA

In [37]:
# example: an ATM in your bank with 3 customers
idclient = [112, 113, 114]
nom = ["Fontaine", "Zidane", "Zlatan"]
prenom = ["Jean", "Zine dine", "Ibrahim"]
age = [30, 40, 35]
solde = [123000, 200000, 300000]

In [38]:
# using a loop you can print specific informations about your customers
for i in range(len(idclient)):
    print(f"Account balance {idclient[i]} of customer {nom[i]} {prenom[i]} {age[i]} years old is {solde[i]}")

Account balance 112 of customer Fontaine Jean 30 years old is 123000
Account balance 113 of customer Zidane Zine dine 40 years old is 200000
Account balance 114 of customer Zlatan Ibrahim 35 years old is 300000

In [30]:
company = ["AAA", "AB", "ESG:55", "Credit Score: BB", "Solvency Score: AA"]
for i in enumerate(company):
    print(i)

(0, 'AAA')
(1, 'AB')
(2, 'ESG:55')
(3, 'Credit Score: BB')
(4, 'Solvency Score: AA')

In [31]:
for i,j in enumerate(company):
    print(i,j)

0 AAA
1 AB
2 ESG:55
3 Credit Score: BB
4 Solvency Score: AA

In [32]:
for index, value in enumerate(company):
    print(f"Index : {index}, Valeur : {value}")

Index : 0, Valeur : AAA
Index : 1, Valeur : AB
Index : 2, Valeur : ESG:55
Index : 3, Valeur : Credit Score: BB
Index : 4, Valeur : Solvency Score: AA

In [36]:
company = ['Apple', 'Google', 'Microsoft']
for index, value in enumerate(company):
    print(f"Index : {index}, Valeur : {value}")

Index : 0, Valeur : Apple
Index : 1, Valeur : Google
Index : 2, Valeur : Microsoft

In [39]:
print("Liste des entreprises :")
for index, value in enumerate(company, start=1):  # start=1 pour commencer l'indexation à 1
    print(f"{index}. {value}")

Liste des entreprises :
1. Apple
2. Google
3. Microsoft

# exercise ATM2: use the excel file "exercise_loop_s3.xlsx"  to display your customers' information